body {
  text-align: center;
}

.box-one {
  display: flex;
  flex-direction: row;
}
  
body h1 {
    text-transform: uppercase;
    align-items: center;
}
  
button{
  align-items: center;

}

body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}
  
canvas {
    border: 1px solid black;
    width: 950px;
    height: 500px;
    border-radius: 20px;
}

.child2-box{
  width: 450px;
  margin: 10px;
}